.banner {
  &__wrapper {
    background-color: $white;
    padding-bottom: 37px;
  }

  &__container-right {
    position: relative;
    padding-right: calc((100% - 1600px) / 2 + 15px);
  }

  &__img {
    position: absolute;
    top: 83px;
    right: -120px;
  }

  &__container-left {
    padding-left: calc((100% - 1600px) + 15px);
  }

  &__body {
    height: 663px;
    padding: 111px 0 141px;
    border-radius: 0px 20px 20px 0px;
    background: linear-gradient(
      140.19deg,
      rgb(42, 56, 72) 15.702%,
      rgb(70, 86, 104) 98.655%
    );
  }

  &__title {
    color: $white;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 33px;
  }

  &__text {
    width: 861px;
    color: $white;
    opacity: 0.7;
    &:not(:last-child) {
      margin-bottom: 33px;
    }
  }
}
