.target {
  &__body {
    padding: 105px 0 114px;
  }
  &__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 19px;
  }

  &__sub-title {
    max-width: 794px;
  }
}
