$mainFz: 16px;
$primaryColor: rgb(51, 56, 69);
$secondaryColor: rgb(78, 87, 98);
$tertiaryColor: rgb(104, 113, 134);
$accentColor: rgb(255, 214, 0);
$titlesColor: rgb(42, 56, 72);
$white: rgb(255, 255, 255);
$footerColor: rgb(145, 148, 152);
